<nav class="bg-light">
    <ul class="nav justify-content-center">
      <h2 class="navbar-brand">Go Vote</h2>
    </ul>
</nav>

<div *ngIf="authService.isLoggedIn()">
  <nav class="bg-light">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link"  [routerLink] ="['/home']">Home</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['/polls']">Polls</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>

