/* nav{
    display:block;
}
nav ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #4db8ff
}
ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}
*/
ul > li > a {
    color: rgb(81, 81, 250);
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

ul> li > a:hover{
    color: rgb(14, 13, 13); 
} 
h2{
    font-size:40px
}

nav{
    min-width:100% ;
}
div > nav{
    border-top: 1px solid #c5c3c3
}


